.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
/* src/css/custom.css */

.navbar__item .navbar__link {
  text-transform: uppercase !important;
}

.dropdown__link {
  text-transform: uppercase !important;
}
